@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #f2f1df;
  font-family: "Roboto", sans-serif;
}

/* MENU CARD */

.menu {
  width: 700px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  position: relative;
  overflow: hidden;
}

/* LEFT SIDE */

.left {
  width: 50%;
  height: 100vh;
  background-color: #f2f1df;
  color: #4a5915;
  padding: 45px 35px;
  position: relative;
  z-index: 2;
}

/* LOGO */

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo img {
  width: 90px;
  border-radius: 50%;
}

/* MAIN HEADING */

.left h1 {
  position: absolute;
  top: 40px;
  left: 180px;
  font-size: 82px;
  color: #4a5915;
  white-space: nowrap;
}
.left h1 {
  color: #4a5915;
}

/* COFFEE LIST */

h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.coffee-section {
  margin-top: 30px;
  margin-bottom: 20px;
}

/* ITEMS LIST */

.items {
  width: 200px;
}
.items p {
  display: flex;
  justify-content: space-between;
  font-size: 1.1em;
  line-height: 1.55;
}

/* IMAGE INSIDE THE CIRCLE */

.circle {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* MATCHA */

.matcha {
  width: 190px;
  height: 190px;
  background: #e2e9c1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.matcha img {
  width: 190px;
}

/* DESSERTS LIST */

.desserts {
  margin-top: 230px;
}

/* RIGHT SIDE */

.right {
  background-color: #4b6315;
  color: #f2f1df;
  padding: 40px;
  position: relative;
  width: 50%;
  height: 100vh;
  padding: 45px 35px;
  position: relative;
}

/* DIVIDE SECTION LINE */

.right::before {
  content: "";
  position: absolute;
  left: -55px;
  top: -5%;
  width: 100px;
  height: 110%;
  background: #f2f1df;
  border-radius: 50%;
}

/* COFFEE IMAGE */

.coffee {
  width: 210px;
  height: 210px;
  top: 160px;
  left: 60px;
  background: #637b25;
  border-radius: 50%;
  overflow: hidden;
}
.coffee img {
  position: relative;
  width: 250px;
  bottom: 25px;
}

.dessert-section {
  position: absolute;
  top: 420px;
  left: 65px;
}
.dessert-section h2 {
  font-size: 28px;
}

.dessert {
  width: 200px;
  height: 200px;
  background: #637b25;
  border-radius: 50%;
  overflow: hidden;
}

/* DESSERT IMAGE */

.dessert img {
  width: 200px;
}

/* FOOTER SECTION */

.footer {
  position: absolute;
  bottom: 20px;
  left: 35px;
  color: #35470f;
}

.footer p {
  font-size: 20px;
}

/* SOCIAL LINKS */

.social {
  font-size: 22px;
  margin-bottom: 5px;
  color: #35470f;
}
